.select__visibility-button{
  height: 100%;
  width: 25px;
  margin: 0 10px 0 0;
  border-right: solid 2px white;
  text-align: center;
  :global .sss{
    transition: transform .3s;

  }
  @media (width < 1200px) {
    display: none;
  }
}
.menu-opened{
  transform: rotateY(180deg);
}