.common{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 65vw;
    @media (width < 1200px){
        flex-direction: column;
        width: 100%;
    }
}