.material__view-wrap{
  height: 60vh;
  border: 1px solid black;
  margin: 3vh 0 0 0;
}

.view{
  height: 100%;
}

.footer__wrap{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  //min-width: 716px;
  width: 90%;
  margin: auto;
  border-top: 2px solid #a6a6a6;
  @media (width < 1200px) {
    min-width: 80%;
  }
  @media (width < 600px){
    margin-bottom: 20px;
  }
}

.view_path__item{
  color: #b5b5b5;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 1rem 0 0;
  line-height: 2.5rem;
  @media (width < 600px){
    line-height: 1.5rem;
  }
  &:after{
    display: inline-block;
    content: '/';
    color: #b5b5b5;
    margin: 0 0 0 1rem;
    @media (width < 600px){
      margin: 0 0 0 0.5rem;
    }
  }

  &:last-child:after{
    content: '';
  }

  &:first-child{
    margin-left: 4rem;
    @media (width < 600px){
      margin-left: 0;
    }
  }
}