.common{
  display: flex;
  flex-direction: row;
}

.settings__block_wrap{
  width: 360px;
  margin: 0 30px 0 0;
  @media (width < 1200px) {
    width: 100%;
    margin: 0;
  }
}

.hiding{
  width: 100%;
  transition: max-width .3s;
  overflow: hidden;
  max-width: 100vw;
}

.closed{
  max-width: 0;
}

.constructor__choice-wrap{
    display: flex;
    flex-direction: row;
}
.constructor__choice{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    min-height: 2rem;
    &:first-child{
         border-right: 2px solid #bfb19e;
     }
}