.common{
  display: flex;
  flex-direction: row;
  position: relative;
}

.settings__block_wrap{
  width: 19.1vw;
  margin: 0 20px 0 0;

  @media (width < 1200px) {
    width: 100%;
    margin: 0;
  }
}

.hiding{
  width: 100%;
  transition: max-width .3s;
  overflow: hidden;
  max-width: 100vw;
}

.closed{
  max-width: 0;
}

.constructor__choice-wrap{
    display: flex;
    flex-direction: row;
    @media (width < 1200px) {
      margin-bottom: 2vh;
    }
}
.constructor__choice{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    min-height: 2rem;
    &:first-child{
         border-right: 2px solid #bfb19e;
     }
}