.order__modeSwitcher_wrap{
  display: flex;
  flex-direction: row;
  margin: 0 0 10vh 0;
}

.order__modeSwitcher_item{
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 9px 0;
  margin: 0 7px 0 0;
  transition: color .3s, background-color .3s;

  &:last-child{
    margin: 0;
  }
}

.active{
  color: #666;
  background: white;
}