.wrap{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 0 20px 0;
  @media (width < 600px){
    flex-direction: column;
    align-items: center;
  }
}

.item{
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #bdbdbd;
  border-right: 2px solid #afafaf;

  @media (width < 600px){
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #afafaf;
  }

  &:last-child{
    border: none;
  }
}

.active{
  color: #888787;
}