.wrap{
  height: 2rem;
  position: relative;
}
.slider{
  position: absolute;
  height: 100%;
  width: 100%;
}

.item{
  //display: flex;
  //align-items: center;
  //padding: 0 50px;
  line-height: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #bdbdbd;
  border-right: 2px solid #afafaf;

  &:hover{
    cursor: pointer;
  }
  &:last-child{
    border: none;
  }
  
  @media (width < 600px){
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #afafaf;
  }
}

.active{
  color: #888787;
}