.menu-wrap{
  display: flex;
  position: relative;
  width: fit-content;
  //margin: 20px 20px 0;
  border-top: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
}

.item__settings-wrap {
  display: flex;
  flex-direction: row;
  height: calc(100% - 2rem);
}

.item__parameter-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw
}
:global .-reactjs-scrollbar-area {
  height: 100%;
}