.material__items-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin: 0 5%;
  overflow: auto;

  .material__item{
    width: 100%;
    margin-right: 5vw;
    cursor: pointer;
    display: inline-block;
  }
}