.common{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-height: 84vh;
    //height: 83vh;
    //margin: 0 0 100px 0;
    padding: 6vh 125px 3vh 125px;
    box-sizing: border-box;
    background: #e9e9e9;
    @media (width < 1200px) {
        flex-direction: column;
        //align-items: center;
        max-height: initial;
    }
    @media (width < 1281px) {
        padding-left: 40px;
        padding-right: 40px;
        flex-direction: row;
    }

    @media (width < 600px) {
        padding: 55px 15px;
    }
}