.common{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 875px;
    margin: 0 0 100px 0;
    padding: 55px 125px;
    box-sizing: border-box;
    background: #e9e9e9;
    @media (width < 1600px) {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    @media (width < 1200px) {
        padding: 55px 40px;
    }

    @media (width < 600px) {
        padding: 55px 15px;
    }
}