.common{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 125px;
    text-transform: uppercase;
    max-height: 100px;
    height: 10vh;
    @media (width < 1200px) {
        padding: 0 40px;
    }
    @media (width < 640px) {
        flex-direction: column;
    }
    >*{
        @media (width > 750px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
     }
}

.order-first{
    height: 90%;
    @media (width < 640px) {
        order: 1;
        justify-content: center;
        min-height: 4rem;
    }
}



.logo__block_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        height: 100%;
        //max-height: 22px;
        //max-width: 22px;
    }
}

.bold{
    font-weight: bold;
}

.little{
    font-size: .7rem;
    text-transform: none;
}