.menu-wrap{
  color: white;
}

.menu__item-wrap{
  text-transform: uppercase;
  line-height: 2.5em;
  font-size: .95em;
  border-top: 1px solid #5c5c5c;
  padding: 0 0 0 .5rem;
  
  &:hover{
    cursor: pointer;
  }
}

.menu__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu__item-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__item-control {
  margin: 0 5px;
}

.hiding{
  overflow: hidden;
  max-height: 1000px;
  transition: max-height .3s;
}

.open{
}
.close{
  max-height: 0;
}