.preview-wrap{
  //display: flex;
  position: relative;
  min-width: 300px;
  width: 35%;
  cursor: pointer;
}

.preview__dummy-img{
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  margin: auto;
  height: 80vh;
}

.dummy__img-active{
  opacity: 1;
}