.common{
    display: flex;
    flex-flow: row wrap;
    @media (width<1200px) {
      flex-flow: row nowrap;
      width: 100%;
      overflow: auto;
  }
}

.item {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
.hovered{
  border: 1px solid white;
    button{
        opacity: 1;
        transition: opacity .3s, background-color .3s;
        &:hover {
            //background: #8f744a;
            color: #8f744a;
        }
    }
}

.hiding{
    position: absolute;
    overflow: hidden;
    left: 0;
    font-size: .75rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.75rem;
    &.top{
        top: 0;
    }
    &.bottom{
        bottom: 0;
    }
}

.mtm__item-wrap{
    display: flex;
    position: relative;
    height: 193px;
    width: 169px;
    padding: 30px 20px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    border: 1px solid black;
    &:nth-child(2n+1){
         margin-right: 20px;
     }
    &:nth-child(3), &:nth-child(4){
      height: 261px;
    }
    @media (width < 1200px){
      margin: 0 20px 20px 0;
      min-width: 100px;
      height: 150px;
      &:nth-child(3), &:nth-child(4){
        height: 150px;
      }
    }
}

.jacket {}
.shirt {}
.trousers {}
.coat {}
.vest {}
.tie {}