.common{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.language{
    color: white;
    text-align: center;
    background: #8f744a;
    border-radius: 7px;
    min-width: 140px;
    min-height: 60px;
}

.account{
    margin-right: 30px;
}

.cost{
    margin-right: 30px;
    display: inline-block;
    //min-width: 200px;
    text-align: right;

}

.bold{
    font-weight: bold;
}