.common{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.order-third{
    @media (width < 640px) {
        order: 3;
        .language{
            min-height: 0;
        }
        .account{
            //display: none;
        }
    }
}

.language{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background: #8f744a;
    transition: background-color .15s;
    border-radius: 7px;
    border: 1px solid #8f744a;
    min-width: 140px;
    min-height: 6vh;
    max-height: 60px;
    &:hover {
        background: white;
        color: #8f744a;
    }
    @media (width < 750px) {
        margin: 0 0 1rem 0;
    }
    p{
        margin: 0 .7rem 0 0;
    }
}

.choice-wrap{
    position: relative;
}
.languageList-wrap{
    display: flex;
    flex-direction:column;
    align-items: left;
    position: absolute;
    z-index: 99;
    margin: 5px 0 0 0;
    border-radius: 5px;
    box-sizing: border-box;
    background: white;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
}

.language__list-item{
    line-height: 2.5rem;
    padding: 0 10px;
    &:hover{
        cursor: pointer;
    }
}

.open{
    box-shadow: 0 0 10px 0px black;
}
.account{
    margin-right: 30px;
    @media (width < 750px) {
        display: none;
    }
}

.cost{
    margin-right: 30px;
    display: inline-block;
    text-align: right;
    @media (width < 750px) {
        display: none;
    }
}

.bold{
    font-weight: bold;
}