.menu-wrap{
  min-width: 15vw;
  margin: 18px 12% 35px;
  box-sizing: border-box;
}

.open{
  min-width: 20vw;
  transition: min-width .3s;
  @media (width < 800px) {
    position: fixed;
    z-index: 999;
    min-width: 100vw;
    overflow: hidden;
  }
}
.common{
  background: #666666;
  height: 100vh;
}
.preClose{
  max-width: 0;
}