.menu-wrap{
  //height: 100vh;
  min-width: 290px;
  margin: 18px 45px 35px 45px;
  box-sizing: border-box;
}

.open{
  min-width: 380px;
  transition: min-width .3s;
  //overflow: visible;
}
.common{
  background: #666666;
  height: 100vh;
}
.preClose{
  max-width: 0;
}