.common{
  position: absolute;
  left: 40px;
  top: 3.3vh;
  padding: 10px 8px;
  transition: left .1s;
  &:hover{
    cursor: pointer;
  }
}

.common-open{
  left: 40px;
}

.menu__toggler-wrap{
  display: flex;
  flex-direction: column;
  width: 20px;
  }

.line{
  background: #8f744a;
  width: 20px;
  height: 2px;
  margin: 0 0 5px 0;
  transition: background-color .3s;
  &:last-child{
    margin: 0;
  }
}


.opened{
  .line{
    background: white;
  }
}