.common{
    display: flex;
    flex-flow: row wrap;
    @media (width<1200px) {
      flex-flow: row nowrap;
      width: 100%;
      overflow: auto;
  }
}

.item {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.hovered{
    button{
        opacity: 1;
        transition: opacity .3s, background-color .3s;
        &:hover {
            color: #8f744a;
        }
    }
}

.hiding{
    position: absolute;
    overflow: hidden;
    left: 0;
    font-size: .7rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4rem;
    &.top{
        top: 0;
    }
    &.bottom{
        bottom: 0;
    }
}

.mtm__item-wrap{
    display: flex;
    position: relative;
    height: 19vh;
    max-height: 193px;
    width: 9vw;
    max-width: 169px;
    padding: 7% 5%;
    margin: 3vh 0 0 0;
    box-sizing: border-box;
    border: 1px solid black;
    &:hover{
      cursor: pointer;
    }
    &:nth-child(2n+1){
         margin-right: 1vw;
     }
    &:nth-child(3), &:nth-child(4){
      height: 23vh;
      max-height: 261px;
    }
    &:last-child{
      margin-right: 0;
    }
    @media (width < 1600px) {
      width: 8vw;
    }
    @media (width < 1200px){
      padding: 10px;
      margin: 0 20px 20px 0;
      min-width: 100px;
      height: 15vh;
      &:nth-child(3), &:nth-child(4){
        height: 15vh;
      }
    }
}
.mtm__item-active{
  border-color: #8f7449;
}

.jacket {}
.shirt {}
.trousers {}
.coat {}
.vest {}
.tie {}