.common{
    align-items: center;
}

.order__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 155px;
    min-height: 60px;
    color: #8b806a;
    text-align: center;
    border: 2px solid #8b806a;
    border-radius: 5px;
    margin-right: 30px;
}

.dashboard{
    margin-right: 55px;
    max-width: 6rem;
}

.bold{
    font-weight: bold;
}