.navigation-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 45px;
  //padding: 0 30px;
}

.navigation__link-item{
  display: flex;
  align-items: baseline;
  cursor: pointer;
  transition: transform .3s;
  &:hover{
    transform: scale(1.1);
  }
}

.navigation__link-image{
  height: 2.8vh;
}
